body{
background-color: rgb(0, 136, 141);
color: rgb(149, 206, 58);

}

h3{
    text-align: center;
    color: aqua;
    background-color: blue;
    margin: 0;
    padding: 0;
}
a{
    
    color:blueviolet;
    padding: 18px;
    text-decoration: none;
    font-size: 24px;
}
header{
background-color: aquamarine;
color: blue;
margin: 0;
padding: 18px;
display: flex;
justify-content: space-between;

}
a:hover{
    color: darkgreen;
    text-decoration: underline;

}
 section{
        display: flex;
}

